body {
	background-color: OldLace;
}
img {
	height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto
}
.carousel-inner {
	margin-top: 50px;
}

.item {
	height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto
}